{% load static from staticfiles %}
<h1>Useful Phrases</h1>
<table>
  <tr>
    <th>Yes</th>
    <td>Sim</td>
  </tr>
  <tr>
    <th>No</th>
    <td>Não</td>
  </tr>
  <tr>
    <th>Hello</th>
    <td>Olá</td>
  </tr>
  <tr>
    <th>Goodbye</th>
    <td>Tchau</td>
  </tr>
  <tr>
    <th>Please</th>
    <td>Por Favor</td>
  </tr>
  <tr>
    <th>Thank You</th>
    <td>
      Obrigado (M)<br>
      Obrigada (F)
    </td>
  </tr>
  <tr>
    <th>I don't speak (much) Portuguese</th>
    <td>Eu não falo (muito) português.</td>
  </tr>
  <tr>
    <th>I want to go to UTFPR</th>
    <td>
      Quero ir para a UTFPR<br>
      Av. 7 de setembro, 3165
    </td>
  </tr>
  <tr>
    <th>I want to go to Hotel Nacional Inn</th>
    <td>
      Quero ir para o Hotel Nacional Inn<br>
      Rua Lourenço Pinto 456
    </td>
  </tr>
  <tr>
    <th>Where's the toilet?</th>
    <td>Onde fica o banheiro?</td>
  </tr>
</table>
<h2>Emergency Contacts</h2>
<ul>
  <li><strong>Front Desk:</strong> +55 41 99791-3565, registration@debconf.org</li>
  <li><strong>Police:</strong> 190</li>
  <li><strong>Ambulance:</strong> 192</li>
  <li><strong>Fire:</strong> 193</li>
</ul>
</div>
